@model BoardGames.Search.SearchResults

<div class="row">
  <div class="col-md-3">
    <h2>Filters</h2>

    <div class="panel panel-info aggregation-container">
      <div class="panel-heading">
        <h3 class="panel-title">Game Type</h3>
      </div>
      <div class="panel-body list-group">
        <ul>
          @foreach (var item in Model.GameTypeFilters)
          {
              var isChecked = Model.Criteria.SelectedGameTypes.Contains(Int32.Parse(item.Value));

              <li>
                <input
                  type="checkbox"
                  name="SelectedGameTypes"
                  @Html.Raw(isChecked ? " checked=checked " : "")
                  value="@item.Value"> @item.Description (@item.Count)
              </li>
          }

        </ul>
      </div>
    </div>

    <div class="panel panel-info aggregation-container">
      <div class="panel-heading">
        <h3 class="panel-title">Age</h3>
      </div>
      <div class="panel-body list-group">
        <ul>
          @foreach (var item in Model.AgeFilters)
          {
              var isChecked = Model.Criteria.SelectedAges.Contains(Int32.Parse(item.Value));

              <li>
                <input
                  type="checkbox"
                  name="SelectedAges"
                  @Html.Raw(isChecked ? " checked=checked " : "")
                  value="@item.Value"> @item.Description (@item.Count)
              </li>
          }
        </ul>
      </div>
    </div>

    <div class="panel panel-info aggregation-container">
      <div class="panel-heading">
        <h3 class="panel-title">Playing Time</h3>
      </div>
      <div class="panel-body list-group">
        <ul>
          @foreach (var item in Model.PlayingTimeFilters)
          {
              var isChecked = Model.Criteria.SelectedPlayingTimes.Contains(Int32.Parse(item.Value));

              <li>
                <input
                  type="checkbox"
                  name="SelectedPlayingTimes"
                  @Html.Raw(isChecked ? " checked=checked " : "")
                  value="@item.Value"> @item.Description (@item.Count)
              </li>
          }
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h2>Board Games</h2>
      <div class="form-group">
        <div class="col-sm-12">
          @Html.TextBox("search-text", Model.Criteria.SearchText, new {placeholder= "Search"})
        </div>
      </div>
    <div id="search-results">
      @Html.Partial("_SearchResults", Model)
    </div>
  </div>
</div>